<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>

    <h1>Menu</h1>
    <label for="">Soups</label>
    <select name="" id="">
        <option value="">Choose</option>
        <option value="Lentil Soup">Lentil Soup — BHD 1.500</option>
        <option value="Iranian Chicken Soup">Iranian Chicken Soup — BHD 1.750</option>
        <option value="Creamy Chicken Soup">Creamy Chicken Soup — BHD 1.750</option>
        <option value="Mushroom Soup">Mushroom Soup — BHD 1.750</option>
        <option value="Chicken Corn Soup">Chicken Corn Soup — BHD 1.750</option>
        <option value="Hot & Sour Soup">Hot & Sour Soup — BHD 1.600</option>
        <option value="Hot & Sour Soup (Prawns)">Hot & Sour Soup (Prawns) — BHD 1.750</option>
    </select>
    <label for="">Quantiy</label>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>


    <label for="">Hot Meza</label>
    <select name="" id="">
        <option value="">Choose</option>
        <option value="French Fries">French Fries — BHD 0.800</option>
        <option value="French Fries With Cheese">French Fries With Cheese — BHD 1.400</option>
        <option value="Chicken Dynamite">Chicken Dynamite — BHD 2.900</option>
        <option value="Shrimp Dynamite">Shrimp Dynamite — BHD 3.100</option>
        <option value="Cheese Roll">Cheese Roll — BHD 1.600</option>
        <option value="Vegetable Spring Roll">Vegetable Spring Roll — BHD 1.600</option>
        <option value="Onion Rings">Onion Rings — BHD 1.700</option>
        <option value="Chicken Nuggets">Chicken Nuggets — BHD 1.700</option>
        <option value="Buffalo Wings">Buffalo Wings — BHD 2.100</option>
        <option value="Mozzarella Stick">Mozzarella Stick — BHD 2.100</option>
        <option value="Jalapeno Bites">Jalapeno Bites — BHD 2.100</option>
        <option value="Chicken Popcorn">Chicken Popcorn — BHD 2.100</option>
    </select>
    <label for="">Quantiy</label>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>


    <label for="">Cold Meza & Salads</label>
    <select name="" id="">
        <option value="">Choose</option>
        <option value="Hummus">Hummus — BHD 1.500</option>
        <option value="Moutabal">Moutabal — BHD 1.500</option>
        <option value="Mutabal With Pomegranate">Mutabal With Pomegranate — BHD 1.800</option>
        <option value="Baba Ghanoush">Baba Ghanoush — BHD 1.500</option>
        <option value="Fattoush">Fattoush — BHD 1.900</option>
        <option value="Tabbouleh">Tabbouleh — BHD 1.900</option>
        <option value="Arabic Salad">Arabic Salad — BHD 1.600</option>
        <option value="Greek Salad">Greek Salad — BHD 2.200</option>
        <option value="Tuna Salad">Tuna Salad — BHD 2.200</option>
        <option value="Chicken Caesar Salad">Chicken Caesar Salad — BHD 2.600</option>
        <option value="Shrimp Caesar Salad">Shrimp Caesar Salad — BHD 2.900</option>
        <option value="Rocca Salad">Rocca Salad — BHD 1.900</option>
        <option value="Beetroot Salad">Beetroot Salad — BHD 1.750</option>
        <option value="Olive Salad">Olive Salad — BHD 1.750</option>
        <option value="Corn Salad">Corn Salad — BHD 1.500</option>
        <option value="Zyara Salad">Zyara Salad — BHD 2.100</option>
        <option value="Dates Salad">Dates Salad — BHD 2.900</option>
        <option value="fattoula">fattoula — BHD 2.900</option>
        <option value="Vine Leaves">Vine Leaves — BHD 1.800</option>
        <option value="Eggplant Fatta">Eggplant Fatta — BHD 2.500</option>
        <option value="Chili Sauce">Chili Sauce — BHD 0.250</option>
        <option value="Garlic">Garlic — BHD 0.250</option>
    </select>
    <label for="">Quantiy</label>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>


    <label for="">Shawarma</label>
    <select name="" id="">
        <option value="">Choose</option>
        <option value="Chicken Shawarma Sandwich">Chicken Shawarma Sandwich — BHD 1.200</option>
        <option value="Meat Shawarma Sandwich">Meat Shawarma Sandwich — BHD 1.400</option>
        <option value="Mix Shawarma Sandwich">Mix Shawarma Sandwich — BHD 1.400</option>
        <option value="Chicken Shawarma Plate">Chicken Shawarma Plate — BHD 3.200</option>
        <option value="Meat Shawarma Plate">Meat Shawarma Plate — BHD 3.400</option>
        <option value="Mix Shawarma Plate">Mix Shawarma Plate — BHD 3.400</option>
    </select>
    <label for="">Quantiy</label>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>


    <label for="">By KG</label>
    <select name="" id="">
        <option value="">Choose</option>
        <option value="Grilled Shrimps By KG">Grilled Shrimps By KG — BHD 15.000</option>
        <option value="Mixed Seafood By KG">Mixed Seafood By KG — BHD 15.000</option>
        <option value="Fish By KG">Fish By KG — BHD 8.000</option>
    </select>
    <label for="">Quantiy</label>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>


    <label for="">Fried & Grilled Fish</label>
    <select name="" id="">
        <option value="">Choose</option>
        <option value="Fish With Rice">Fish With Rice — BHD 5.000</option>
        <option value="Fried Hammour">Fried Hammour — BHD 4.600</option>
        <option value="Grilled Hammour">Grilled Hammour — BHD 4.600</option>
        <option value="Fried Safi">Fried Safi — BHD 3.900</option>
        <option value="Grilled Safi">Grilled Safi — BHD 3.900</option>
        <option value="Fried Shrimps">Fried Shrimps — BHD 4.900</option>
        <option value="Grilled Shrimps">Grilled Shrimps — BHD 4.900</option>
        <option value="Fried Calamari">Fried Calamari — BHD 4.600</option>
        <option value="Grilled Calamari">Grilled Calamari — BHD 4.600</option>
    </select>
    <label for="">Quantiy</label>
    <select name="" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
</body>
</html>