<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>

    <h1>Menu</h1>
    <label for="">Soup</label>
    <select name="" id="">Soups</select>

    <label for="">Hot Meza</label>
    <select name="" id="">Hot Meza</select>

    <label for="">Cold Meza & Salads</label>
    <select name="" id="">Cold Meza & Salads</select>

    <label for="">by KG</label>
    <select name="" id="">by KG</select>

    <label for=""></label>
    <select name="" id=""></select>
</body>
</html>