<div>
    <a href="/">Homepage</a>
    <a href="/menu">Ordering Menu</a>
    <a href="/item">Item Form</a>
    <a href="/adminMenu">Admin Menu</a>
    <a href="/checkout">Checkout</a>

    <% if (user){ %>
    <a href="/auth/sign-out">Logout</a>
    <a href="/profile">Profile</a>
    <a href="/checkout">Checkout</a>

    <% } else{ %>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Login</a>

    <% } %>
</div>
